/* ========== RESET CSS ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- TEXT UTILITIES --- */
.flex {
    display: flex;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    background-color: aqua;
}

.center-align-items {
    align-items: center;
}

.justify-content {
    justify-content: center;
}

.spacebetween {
    justify-content: space-between;
}

.reverse {
    flex-direction: column;
}

/* --- LAYOUT PRINCIPALE --- */
body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding-top: 100px;
}

header {
    height: 80px;
    background-color: white;
    flex-direction: row;
    position: fixed;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

/* ========== NAVBAR ========== */
.spaziatura-navbar {
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
}

.navbar-sx {
    gap: 30px;
    font-size: 1.1rem;
}

.navbar-dx {
    gap: 30px;
    font-size: 1rem;
}

.pulsante-inizia a {
    background-color: #0061FE;
    padding: 8px 16px;
    border-radius: 3px;
    color: white;
}

/* ========== JUMBOTRON ========== */
.container-jumbo-sfondo {
    background-color: #B4D0E6;
    height: 650px;
    width: 100%;
}

.container-jumbo {
    height: 500px;
    width: 1200px;
    background-color: transparent;
}

.container-jumbo-sfondo > .container-jumbo > h1 {
    font-size: 5rem;
    margin-bottom: 30px;
    text-align: left;
}

/* Modifica importante: questo contenitore deve essere flex */
.disposizione-immagine-paragrafo {
    display: flex;
    width: 100%;
}

.disposizione-jumbo {
    gap: 30px;
    width: 35%;
    font-size: 1.2rem;
    padding-top: -2px;
    background-color: transparent;
}

.pulsante-jumbo a {
    background-color: #0061FE;
    padding: 8px 16px;
    border-radius: 3px;
    display: inline-block;
    color: white;
}

.pulsante-annula a {
    display: inline-block;
    padding: 8px 16px;
    
}

.immagine-jumbo {
    background-color: transparent;
    height: 400px;
    width: 60%;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

/*aggiunto in piu pulsante annulla quando vuoi */
.pulsante-annula a{
    text-align: left;
    background-color: red;
    border-radius: 3px;
    
    
}

/*quando passa la freccetta fa un animazione tipo click su link e pulsanti*/
a:hover{
    font-size: 1.1rem;
}



