/* ========== RESET CSS ========== */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* --- TEXT UTILITIES --- */

/*(Classi monotematiche da usare dove serve)*/


.flex{
    display: flex;
}
/*per il contenuto dopo il jumbotron*/
.container{
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    background-color: aqua;
}

.center-align-items{
    align-items: center;
}

.justify-content{
    justify-content: center;
}

/* --- LAYOUT PRINCIPALE --- */

body{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    /*avendo usato fixed devo dare padding top per far uscire lo sfondo*/
    padding-top: 100px;
}

header{
    height: 80px;
    background-color: white;
    /*solo per ricordare*/
    flex-direction: row;
    position: fixed;
    width: 100%;
    
}


a{
    text-decoration: none;
    color: black;
}

/* ========== NAVBAR ========== */
/*Contenitore che mi divide le due mezze navbar*/
.spaziatura-navbar{
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    /*metto altezza anche ai div essendo ereditabile*/
    height: 100%;
    
    
}
/*do aria agli elemenit di nav destra e sinistra*/
.navbar-sx{
    
    gap: 30px;
    font-size: 1.1rem;

}

.navbar-dx{

    gap: 30px;
    font-size: 1rem;

}

.pulsante-inizia a{
    background-color: #0061FE;
    padding: 8px 16px;
    /*ho dato un piccolo bordo extra per renderlo piu bello*/
    border-radius: 2px;
    color: white;
}

/* ========== JUMBOTRON ========== */
/*container per jumbotron sfondo*/
.container-jumbo-sfondo{
    background-color: #B4D0E6;
    height: 600px;
    width: 100%;
    
}
/*contenitore per contenuto jumbotron*/
.container-jumbo{
    height: 500px;
    width: 1200px;
    background-color: red;

}
/*selettore diretto figlio */
.container-jumbo-sfondo > .container-jumbo > h1{
    font-size: 5rem;
}